IO_LOC  "swi_word_rx[6]" 27;
IO_PORT "swi_word_rx[6]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "swi_word_rx[5]" 28;
IO_PORT "swi_word_rx[5]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "swi_word_rx[4]" 29;
IO_PORT "swi_word_rx[4]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "swi_word_rx[3]" 30;
IO_PORT "swi_word_rx[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "swi_word_rx[2]" 33;
IO_PORT "swi_word_rx[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "swi_word_rx[1]" 34;
IO_PORT "swi_word_rx[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "swi_word_tx[0]" 39;
IO_PORT "swi_word_tx[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "swi_word_tx[1]" 36;
IO_PORT "swi_word_tx[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "swi_word_tx[2]" 37;
IO_PORT "swi_word_tx[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "swi_word_tx[3]" 38;
IO_PORT "swi_word_tx[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "swi_word_rx[0]" 40;
IO_PORT "swi_word_rx[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "final_word[0]" 14;
IO_PORT "final_word[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "final_word[1]" 13;
IO_PORT "final_word[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "final_word[2]" 11;
IO_PORT "final_word[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "final_word[3]" 10;
IO_PORT "final_word[3]" DRIVE=8 IO_TYPE=LVCMOS18;
